@charset "UTF-8";
@font-face {
  font-family: "Open Sans", sans-serif;
}
@font-face {
  font-family: "Open Sans Condensed", sans-serif;
}
.osc-font {
  font-family: "Open Sans Condensed", sans-serif;
}

.envy {
  background-color: #98a897;
}

.glacier {
  background-color: #78BEC8;
}

.moon-mist {
  background-color: #d3d7c6;
}

.lunar-green {
  background-color: #484948;
}

.gurkha {
  background-color: #9c9573;
}

.xanadu {
  background-color: #788277;
}

.carnation {
  background-color: #F46464;
}

.chesnut-rose {
  background-color: #D56362;
}

.yellow_sea {
  background-color: #F69834;
}

.envy--text {
  color: #98a897;
}

.glacier--text {
  color: #78BEC8;
}

.moon-mist--text {
  color: #d3d7c6;
}

.lunar-green--text {
  color: #484948;
}

.gurkha--text {
  color: #9c9573;
}

.xanadu--text {
  color: #788277;
}

.carnation--text {
  color: #F46464;
}

.chesnut-rose--text {
  color: #D56362;
}

.yellow_sea--text {
  color: #F69834;
}

* {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

html, * {
  box-sizing: border-box;
}

p {
  line-height: 22px;
}

.container {
  max-width: 980px;
}

.navbar .navbar-brand img {
  height: 25px;
}
.navbar .navbar-collapse {
  font-size: 1rem;
}
.navbar .navbar-collapse .nav-link {
  font-weight: bold;
}
.navbar .navbar-collapse .nav-link:active {
  color: #000;
}
.navbar .navbar-toggler {
  padding: 5px 10px;
  background-color: #78BEC8;
  border-radius: 0;
}
.navbar .navbar-toggler .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.btn {
  border-radius: 2px;
  border: 0;
  padding: 10px 18px;
}
.btn.envy, .btn.glacier, .btn.moon-mist, .btn.lunar-green, .btn.gurkha, .btn.xanadu, .btn.carnation, .btn.chesnut-rose, .btn.yellow_sea {
  color: #fff;
}
.btn.transparent {
  color: #fff;
}
.btn.outlined {
  border: 1px solid #fff;
}

header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  padding-top: 45px;
  text-align: center;
  background-image: url("../images/backgrounds/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
header h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 800;
  font-size: 4rem;
}
header h2 {
  font-weight: 400;
}
header h1, header h2, header h5 {
  color: #fff;
  margin-bottom: 2rem;
}
header .header-messages {
  height: 60%;
}
header .header-links {
  height: 20%;
  background-color: #484948;
}
header .header-links .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-links .link-btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
header .header-links input.link-text,
header .header-links textarea.link-text {
  border: 0;
  padding: 10px 15px;
  text-overflow: ellipsis;
  width: 60%;
  background-color: #373737;
  color: #fff;
}
header .header-links textarea.link-text {
  display: none;
  resize: none;
}
header .header-affiliates {
  height: 20%;
  background-color: #fff;
}
header .header-affiliates .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header-affiliates .container img {
  height: 30px;
}
header .header-affiliates .container img + img {
  margin-left: 15px;
}
@media (max-width: 992px) {
  header .header-links input.link-text {
    width: 90%;
  }
}
@media (max-width: 768px) {
  header .header-messages {
    height: 50%;
  }
  header .header-messages h1 {
    font-size: 3rem;
  }
  header .header-messages h2 {
    font-size: 1.5rem;
  }
  header .header-messages h5 {
    font-size: 1rem;
  }
  header .header-links {
    height: 30%;
  }
  header .header-links .container {
    flex-direction: column;
  }
  header .header-links input, header .header-links textarea.link-text {
    width: 100%;
  }
  header .header-links input.link-btn {
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  header .header-links textarea.link-text {
    display: block;
  }
  header .header-links input.link-text {
    display: none;
  }
  header .header-affiliates .container {
    justify-content: space-between;
  }
  header .header-affiliates .container img {
    height: 20px;
  }
  header .header-affiliates .container img + img {
    margin: auto;
  }
}

#about_us,
#our_expertise,
#clients,
#candidates,
#meet_the_team,
#contact {
  min-height: calc(100vh - 300px);
  position: relative;
  padding-top: 150px;
}

#about_us,
#our_expertise,
#clients,
#meet_the_team,
#contact {
  padding-bottom: 40px;
}

.blockquote {
  position: relative;
  font-family: "Sanchez", serif;
  font-size: 2vw;
  line-height: 1.5rem;
  font-style: italic;
}
.blockquote.left:before {
  content: "\201C";
  position: absolute;
  top: 0.25em;
  color: unset;
  font-size: 6em;
  margin: auto;
}
.blockquote.right:before {
  content: "\201D";
  position: absolute;
  top: 0.25em;
  color: unset;
  font-size: 6em;
  margin: auto;
}

.page-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #484948;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
}
.page-title:after {
  position: relative;
  top: 10px;
  display: block;
  width: 10px;
  margin: auto;
  content: "";
  border-top: 12px solid #484948;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
@media (max-width: 576px) {
  .page-title {
    height: 65px;
    font-size: 3rem;
  }
}

footer .notes {
  background-color: #424242;
  padding: 20px;
}
footer .notes .message {
  padding-top: 0;
  display: flex;
  justify-content: center;
}
footer .notes .message .message-wrapper {
  color: #fff;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
footer .notes .message .blockquote {
  align-self: start;
}
footer .notes .message .blockquote.left:before, footer .notes .message .blockquote.right:before {
  color: #fff;
  font-size: 2em;
}
footer .copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #484948;
  padding: 20px;
  color: #F69834;
}

#about_us {
  background-color: #78BEC8;
  color: #fff;
}

#our_expertise .image-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
#our_expertise .image-links .link-item {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #484948;
  box-shadow: 0 2px 1px 1px #888888;
  border: 2px solid #78BEC8;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#our_expertise .image-links .link-item + .link-item {
  margin-left: 20px;
}
#our_expertise .image-links .link-item img {
  height: 35%;
  position: relative;
  top: 15px;
  margin: auto;
}
#our_expertise .image-links .link-item .link-caption {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: #78BEC8;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#our_expertise .data + .data {
  margin-top: 20px;
}
@media (max-width: 768px) {
  #our_expertise .image-links {
    justify-content: space-between;
  }
  #our_expertise .image-links .link-item {
    height: 90px;
    width: 90px;
  }
  #our_expertise .image-links .link-item + .link-item {
    margin-left: 5px;
  }
  #our_expertise .image-links .link-item .link-caption {
    font-size: 0.9rem;
    line-height: 12px;
  }
  #our_expertise .data + .data {
    margin-top: 50px;
  }
}

#completed_assignments {
  width: 100%;
  padding: 40px 20px;
  background-color: #78BEC8;
}
#completed_assignments .data-navigator {
  height: 20px;
  width: 20px;
  background: #484948;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#completed_assignments .data-navigator + .data-navigator {
  margin-left: 8px;
}
#completed_assignments .assignment-data {
  margin-bottom: 10px;
}
#completed_assignments .assignment-data .data-caption,
#completed_assignments .assignment-data .data-value {
  color: #fff;
  padding: 15px;
}
#completed_assignments .assignment-data .data-caption {
  background-color: #484948;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  #completed_assignments .assignment-data .data-caption {
    align-items: flex-start;
  }
}
#completed_assignments .assignment-data .data-value {
  background-color: rgba(255, 255, 255, 0.2);
}

.testimonials {
  padding-top: 50px;
}

#clients .testimonials .status-bar,
#candidates .testimonials .status-bar {
  height: 6px;
  width: 30px;
  background: #ccc;
}
#clients .testimonials .status-bar.filled,
#candidates .testimonials .status-bar.filled {
  background-color: #727878;
}
#clients .testimonials .status-bar + .status-bar,
#candidates .testimonials .status-bar + .status-bar {
  margin-left: 6px;
}

#clients {
  background: #393939;
  color: #fff;
}
#clients .client-overview {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/backgrounds/clients_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#clients .testimonials .blockquote.left:before, #clients .testimonials .blockquote.right:before {
  color: #78BEC8;
}

#candidates {
  background-color: #78BEC8;
  color: #fff;
}
#candidates .candidates-overview {
  padding-bottom: 50px;
}
#candidates .testimonials {
  background-color: #77C9D5;
  padding-bottom: 40px;
}
#candidates .testimonials .blockquote.left:before, #candidates .testimonials .blockquote.right:before {
  color: #484948;
}

#meet_the_team .profiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
#meet_the_team .profiles > .member {
  height: 450px;
  border: 5px solid #484948;
  display: flex;
  flex-direction: column;
}
#meet_the_team .profiles > .member .user {
  height: 70%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#meet_the_team .profiles > .member .title {
  height: 20%;
  background-color: #484948;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
}
#meet_the_team .profiles > .member .contacts {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393939;
}
#meet_the_team .profiles > .member .contacts > * + * {
  margin-left: 10px;
}
#meet_the_team .profiles > .member .contacts .mobile-num {
  font-size: 1.4rem;
  margin-left: 5px;
  color: #aaa;
}
#meet_the_team .user1 {
  background-image: url("../images/team/nabil_dar.jpg");
}
#meet_the_team .user2 {
  background-image: url("../images/team/joanne_shand.jpg");
}
#meet_the_team .user3 {
  background-image: url("../images/team/veronica_hadi.jpg");
}
#meet_the_team .user4 {
  background-image: url("../images/team/matt_sellwood.jpg");
}
#meet_the_team .user5 {
  background-image: url("../images/team/hedyeh_esfandiyari.jpg");
}
#meet_the_team .user6 {
  background-image: url("../images/team/laur_tait.jpg");
}
#meet_the_team .user7 {
  background-image: url("../images/team/madiha_ahmed.jpg");
}
#meet_the_team .user8 {
  background-image: url("../images/team/charlie_sklar.jpg");
}
@media (max-width: 768px) {
  #meet_the_team .profiles {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  #meet_the_team .profiles {
    grid-template-columns: 1fr;
  }
  #meet_the_team .profiles > .member {
    height: 400px;
  }
}

#contact {
  background-image: url("../images/backgrounds/contact_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}
#contact #contact-form input, #contact #contact-form textarea {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  border: 0;
  padding: 10px;
}
#contact #contact-form textarea {
  resize: none;
  height: 150px;
}
#contact #contact-form button {
  background-color: #484948;
  padding: 10px 50px;
}
#contact .action-btn {
  display: flex;
  justify-content: space-between;
}
#contact .action-btn button {
  padding: 10px;
}
@media (max-width: 986px) {
  #contact .action-btn {
    flex-direction: column;
  }
  #contact .action-btn button {
    width: 100%;
    margin-bottom: 10px;
  }
}