//Color Swatches
.envy {
  background-color: $envy;
}

.glacier {
  background-color: $glacier;
}

.moon-mist {
  background-color: $moon_mist;
}

.lunar-green {
  background-color: $lunar_green;
}

.gurkha {
  background-color: $gurkha;
}

.xanadu {
  background-color: $xanadu;
}

.carnation {
  background-color: $carnation;
}

.chesnut-rose {
  background-color: $chesnut_rose;
}

.yellow_sea {
  background-color: $yellow_sea;
}

.envy--text {
  color: $envy;
}

.glacier--text {
  color: $glacier;
}

.moon-mist--text {
  color: $moon_mist;
}

.lunar-green--text {
  color: $lunar_green;
}

.gurkha--text {
  color: $gurkha;
}

.xanadu--text {
  color: $xanadu;
}

.carnation--text {
  color: $carnation;
}

.chesnut-rose--text {
  color: $chesnut_rose;
}

.yellow_sea--text {
  color: $yellow_sea;
}