//Colors
$envy: #98a897;
$glacier: #78BEC8;
$moon_mist: #d3d7c6;
$lunar_green: #484948;
$mine-shaft: #393939;
$gurkha: #9c9573;
$xanadu: #788277;
$carnation: #F46464;
$chesnut_rose: #D56362;
$yellow_sea: #F69834;

//Breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

//Buttons
$btn-border-radius: 2px;